<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="9000" />
  </include>
  <node pkg="mrt_robosys2018_ros" name="count" type="count.py" required="true" />
  <node pkg="mrt_robosys2018_ros" name="twice" type="twice.py" required="true" />
  <node pkg="mrt_robosys2018_ros" name="webserver" type="webserver.py" args=8000" required="true" />
